main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 212, 212, 1);
}

.container{
    width: 670px;
    height: 320px;
    padding: 22px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 40px 30px -25px rgba(0, 0, 0, 0.25);
    position: relative;
}

.ilustracao{
    position: absolute;
    margin-left: -110px;
}


.conteudo{
    padding-left: 200px;
    padding-right: 30px;
}

.conteudo h1{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
}

.conteudo .itens .item{
    cursor: pointer;
    background-image: url(/src/images/seta-fechada.png);
    background-repeat: no-repeat;
    background-position:top 08px right 0px ;
    background-size: 13px;
    border-bottom:1px solid rgba(212, 212, 212, 1);
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.conteudo .itens .item:last-child{
    border-bottom: none;
}

.conteudo .itens .item h2{
    font-size: 17px;
    font-weight: 500;
    max-width: 90%;
}

.conteudo .itens .item h2:hover{
    color: rgb(224, 110, 22);
    transition: 0.2s ease-in-out;
}

.conteudo .itens .item .resposta{ 
    font-weight: 300;
    display: none;
    transition:0.2s ease-in-out;
}

.conteudo .itens .item.ativo{
    font-size: 15px;
    background-image: url(/src/images/seta-aberta.png);
}

.conteudo .itens .item.ativo h2{
    font-weight: 700;
    font-size: 17px;
}

.conteudo .itens .item.ativo .resposta{
    display: block;
}